<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>WsBlog</title>
		
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="icon" href="/static/favicon.ico" /> 
	</head>
		
	<body>
	
	<script type="text/javascript">
	$(document).ready(function(){
		  $(".del").click(function(){
		    if (!confirm("Deletar postagem?")){
		      return false;
		    }
		  });
		});
	</script>
	
		<header>
			<nav class="navbar navbar-light bg-light">
			  <span class="navbar-brand mb-0 h1" style="font-weight: bold">
			  	<a href="/posts">WsBlog</a>
			  </span>
			  <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
			</nav>
		</header>
	
	<section>
		<div class="container" style="width: 90%; padding-bottom: 30px">
		

		<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color: white; padding-left: 0px">
			    <li class="breadcrumb-item active" aria-current="page">
			    	<a href="/newpost" class="btn btn-primary" role="button">
			    		<i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
			    		Novo Post
			    	</a>
			    </li>
			  </ol>
		</nav>
		
		<table class="table table-striped" border="1">
			<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Título</th>
				<th scope="col">Autor</th>
				<th class="text-center" colspan="2" >Ações</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${posts}">
			
					<td><span th:text="${post.id}">ID</span></td>
					<td><span th:text="${post.titulo}">TITULO</span></td>
					<td><span th:text="${post.autor}">AUTOR</span></td>
					<td class="text-center">
						<a th:href="${(#mvc.url('WC#getUpdPostForm').arg(0, post.id)).build()}">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
					</td>
					<td class="text-center">
					<a th:href="@{/ghost/deletePost?id=} + ${post.id}" class="del">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
					</td>
				</tr>
			</tbody>
		</table>
			
		</div>
	</section>
    
	</body>
</html>