<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>WsBlog</title>
	</head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<body>
		<header>
			<nav class="navbar navbar-light bg-light">
			  <span class="navbar-brand mb-0 h1" style="font-weight: bold">WsBlog</span>
			</nav>
		</header>
	
	<section>
		<div class="container" style="width: 60%; padding-bottom: 30px">
		
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color: white; padding-left: 0px">
			    <li class="breadcrumb-item active" aria-current="page">Posts</li>
			  </ol>
			</nav>
		
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="post : ${posts}">
				<div class="card-body">
					
					<a href="#">
						<h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
							<span th:text="${post.titulo}"></span>
						</h4>
					</a>
					
					<p class="card-text">
						<span th:utext="${#strings.abbreviate(post.texto,400)}" ></span>
					</p>
					
					<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
						<span th:text="${post.autor}"></span>
						<span th:text="${post.data}"></span>
					</p>
				</div>
			</div>
		</div>
	</section>
	
	</body>
</html>