<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>WsBlog</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="icon" href="static/favicon.ico" /> 
	</head>
		
	<body>
		<header>
			<nav class="navbar navbar-expand-sm bg-info navbar-dark">
			  <span class="navbar-brand mb-0 h1" style="font-weight: bold">
			 	 <a href="/posts" style="color: white; text-decoration: none;">WsBlog</a>
			  </span>
			</nav>
		</header>
	
	<div class="main">
		<div class="container" style="width: 60%; padding-bottom: 30px">
		
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color: white; padding-left: 0px">
			    <li class="breadcrumb-item" aria-current="page">
			    	<a href="/posts">Posts</a>
			    </li>
			  </ol>
			</nav>
		
		<article>
			<h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;">
				Sobre
			</h1>
			
			
			<section>
				<p class="card-text" style="margin-top: 40px;">
					Olá! Bem-vindo ao meu blog! :D 
				</p>
				<p class="card-text" style="margin-top: 40px;">
					Me chamo Toshio, sou de família nipodescendente(por parte de mãe) que nasceu e foi criado em Brasília! hehe
				</p>
				<p class="card-text" style="margin-top: 40px;">
					Sou formado em Ciência da computação e trabalho atualmente na parte da infraestrutura da TI. Pórem meu maior objetivo agora é migrar para a
					área de desenvolvimento. Por meio deste blog, irei compartilhar algumas coisas, como aprendizados, dicas, histórias, entre outros diversos assuntos.
				</p>
				<p class="card-text" style="margin-top: 40px;">
					Espero que gostem do conteúdo! Muito obrigado!
					<i class="material-icons" style="vertical-align: bottom">sentiment_satisfied_alt</i>
				</p>
			</section>
		</article>
		
		</div>
	</div>
	
	</body>
</html>